body {
    background-color: #85A389;
}
.container {
    background-color: #A2CDB0;
    display: flex;
    justify-content: center;
}
.container_data {
    background-color:#FFD89C;
    height: 1200px;
    width: 2290px;
}
#foto_cv {
    height: 500px;
    width: 400px;
    position: relative;
    left: 1800px;
    top: 180px;
}
#data_personal{
    position: relative;
    left: 1800px;
    bottom: 500px;
}
.experience_data {
    position: relative;
    bottom: 650px;
    font-size: 30px;
    left: 25px;
}
hr {
    position: relative;
    width: 1750px;
    right: 267px;
}
.studies {
    position: relative;
    color: #11009E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 1050px;
    left: 25px;
    font-size: 30px;
}
.education {
    position: relative;
    bottom: 1070px;
    left: 25px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.education_duration {
    position: relative;
    bottom: 1093px;
    left: 28px;
}
.education_description {
    position: relative;
    bottom: 1108px;
    left: 26px;
    font-size: 20px;
    color: #606C5D;
}
.education_2 {
    position: relative;
    font-size:30px ;
    bottom: 1105px;
    left: 25px;
}
.education_description_2 {
    position: relative;
    font-size:20px;
    color: #606C5D;
    bottom: 1128px;
    left: 27px;
}





